<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/restaurants/" class="btn btn-primary text-right btn-sm">Add Restaurant</a>
<a href="/diners/" class="btn btn-primary text-right btn-sm">Diners</a>